.header {
  background-color: #222;
  height: 36px;
  padding: 8px 32px 8px 16px;
  display: flex;
  justify-content: space-between;
}

.logo {
  background-color: #ff7f7f;
  height: 35px;
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.button-group {
  display: flex;
  justify-content: center;
}

.button-group Button {
  margin: 0px 4px;
}

/*

CSS file for Header component
 */